<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hw.mapper.StatisticsMapper">

    <resultMap id="statisticsResultMap" type="com.hw.po.Statistics">
        <id property="id" column="id"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="address" column="address"/>
        <result property="so2Value" column="so2_value"/>
        <result property="so2Level" column="so2_level"/>
        <result property="coValue" column="co_value"/>
        <result property="coLevel" column="co_level"/>
        <result property="spmValue" column="spm_value"/>
        <result property="spmLevel" column="spm_level"/>
        <result property="aqiId" column="aqi_id"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="confirmTime" column="confirm_time"/>
        <result property="gmId" column="gm_id"/>
        <result property="fdId" column="fd_id"/>
        <result property="information" column="information"/>
        <result property="remarks" column="remarks"/>

        <association property="supervisor" javaType="com.hw.po.Supervisor">
            <id property="telId" column="su_tel_id"/>
            <result property="realName" column="su_real_name"/>
            <result property="birthday" column="su_birthday"/>
            <result property="sex" column="su_sex"/>
        </association>

        <association property="gridProvince" javaType="com.hw.po.GridProvince">
            <id property="provinceId" column="gp_province_id"/>
            <result property="provinceName" column="gp_province_name"/>
            <result property="provinceAbbr" column="gp_province_abbr"/>
        </association>

        <association property="gridCity" javaType="com.hw.po.GridCity">
            <id property="cityId" column="gc_city_id"/>
            <result property="cityName" column="gc_city_name"/>
        </association>

        <association property="aqi" javaType="com.hw.po.Aqi">
            <id property="aqiId" column="aq_aqi_id"/>
            <result property="chineseExplain" column="aq_chinese_explain"/>
            <result property="color" column="aq_color"/>
            <result property="aqiExplain" column="aq_aqi_explain"/>
        </association>

        <association property="gridMember" javaType="com.hw.po.GridMember">
            <id property="gmId" column="gm_gm_id"/>
            <result property="gmName" column="gm_gm_name"/>
            <result property="tel" column="gm_tel"/>
        </association>
    </resultMap>

    <sql id="statisticsSqlSelect">
        SELECT st.*,
        gm.gm_id gm_gm_id, gm.gm_name gm_gm_name, gm.tel gm_tel,
        su.tel_id su_tel_id, su.real_name su_real_name, su.birthday su_birthday, su.sex su_sex,
        gp.province_id gp_province_id, gp.province_name gp_province_name, gp.province_abbr gp_province_abbr,
        gc.city_id gc_city_id, gc.city_name gc_city_name,
        aq.aqi_id aq_aqi_id, aq.chinese_explain aq_chinese_explain, aq.color aq_color, aq.aqi_explain aq_aqi_explain
        FROM statistics st
        LEFT JOIN grid_member gm ON st.gm_id = gm.gm_id
        LEFT JOIN supervisor su ON st.fd_id = su.tel_id
        LEFT JOIN grid_province gp ON st.province_id = gp.province_id
        LEFT JOIN grid_city gc ON st.city_id = gc.city_id
        LEFT JOIN aqi aq ON st.aqi_id = aq.aqi_id
    </sql>

    <sql id="statisticsSqlWhere">
        <where>
            <if test="provinceId != null and provinceId != 0">
                AND st.province_id = #{provinceId}
            </if>
            <if test="cityId != null and cityId != 0">
                AND st.city_id = #{cityId}
            </if>
            <if test="confirmDate != null and confirmDate != ''">
                AND st.confirm_date = #{confirmDate}
            </if>
        </where>
    </sql>

    <select id="getStatisticsCount" parameterType="com.hw.dto.StatisticsPageRequestDto" resultType="int">
        SELECT COUNT(*) FROM statistics st
        <include refid="statisticsSqlWhere"/>
    </select>

    <select id="listStatisticsPage" parameterType="com.hw.dto.StatisticsPageRequestDto" resultMap="statisticsResultMap">
        <include refid="statisticsSqlSelect"/>
        <include refid="statisticsSqlWhere"/>
        ORDER BY st.id DESC
        LIMIT #{beginNum}, #{maxPageNum}
    </select>

    <select id="getStatisticsById" parameterType="Integer" resultMap="statisticsResultMap">
        <include refid="statisticsSqlSelect"/>
        WHERE st.id = #{id}
    </select>

    <select id="listProvinceItemTotalStatis" resultType="com.hw.dto.ProvinceItemTotalStatisDto">
        SELECT gp.province_id AS provinceId,
        gp.province_abbr AS provinceAbbr,
        gp.province_name AS provinceName,
        SUM(st.so2_value) AS so2Total,
        SUM(st.co_value) AS coTotal,
        SUM(st.spm_value) AS spmTotal,
        COUNT(st.id) AS aqiTotal
        FROM statistics st
        LEFT JOIN grid_province gp ON st.province_id = gp.province_id
        GROUP BY gp.province_id, gp.province_abbr, gp.province_name
    </select>

    <select id="listAqiDistributeTotalStatis" resultType="com.hw.dto.AqiDistributeTotalStatisDto">
        SELECT a.aqi_id AS aqiId,
        a.aqi_explain AS aqiExplain,
        COUNT(s.aqi_id) AS total
        FROM aqi a
        LEFT JOIN statistics s ON a.aqi_id = s.aqi_id
        GROUP BY a.aqi_id, a.aqi_explain
        ORDER BY a.aqi_id
    </select>

    <select id="listAqiTrendTotalStatis" parameterType="java.util.List" resultType="com.hw.dto.AqiTrendTotalStatisDto">
        <foreach collection="list" item="dto" separator="UNION ALL">
            SELECT #{dto.month} AS month, COUNT(*) AS total
            FROM statistics
            WHERE LEFT(confirm_date, 7) = #{dto.month} AND aqi_id > 2
        </foreach>
    </select>
</mapper>
